
@import '../../../../styles.scss';

.section-us {
    padding: 48px 8% 12px 8%;
    gap: 24px;
    height: auto;
    background-color: white;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .img-cont {
        flex-direction: column;
        gap: 24px;
        div {
            width: 100%;
        }
    }
    
}

.us-note {
    transition: 0.4s scale;
    cursor: pointer;
    flex: 1 1 300px; /* Elementos flexibles con un ancho mínimo de 150px */
}

.us-note:hover {
    scale: 1.04;
}

.img-around {
    border-radius: 100%; object-fit: cover;
    width: 240px;
    height: 240px;
}

.img-cont {
    flex-wrap: wrap; 
    flex-direction: row;
}