
<div flex-col class="section-us" style="gap: 20px; justify-content: center; background-color: rgb(255, 255, 255);">

    <div flex style="
        gap: 24px; 
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 3px;
        background-color: #1e2f92;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        color: white;
        padding: 24px;
    ">
        <img 
            class="img-about"
            style="height: 400px; border-radius: 3px;"
            src="../../../../assets/images/veg.jpg">
        
        <div flex-col style="
            width: 500px; 
            row-gap: 20px;
            padding: 48px;
        ">
            <div flex-col style="row-gap: 12px; ">
                <p class="font-24-800"> ¿QUÉ ES FUDEPRONA? </p>    
                <p class="font-18-200 jt-text " style="
                    line-height: 26px;
                
                    width: auto;"> {{presentationText}} </p>
            </div>
            <div flex style="gap: 12px;">
                <button class="hero-btt btt-cl-blue" style="width: 100%;">VER ACTIVIDADES</button>
            </div>
        </div>
            
    </div>

</div>
