
@import '../../../../styles.scss';

.section-us {
    padding: 48px 8% 48px 8%;
    gap: 24px;
    height: auto;
    width: 100%;
}

.text {
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .text {
        font-size: 16px;
    }
    .img-cont {
        flex-direction: column;
        gap: 48px;
        div {
            width: 100%;
        }
    }
    
}

.us-note {
    transition: 0.4s scale;
    cursor: pointer;
    flex: 1 1 300px; /* Elementos flexibles con un ancho mínimo de 150px */
}

.us-note:hover {
    scale: 1.04;
}

.img-around {
    border-radius: 100%; object-fit: cover;
    width: 200px;
    height: 200px;
}

.img-cont {
    flex-wrap: wrap; 
    flex-direction: row;
}