
<div flex-col class="section-us" style="gap: 48px;">

    <div flex-col style="gap: 4px;">
        
        <p class="font-24-800" >SOBRE NOSOTROS</p>
        <p class="font-16-400 jt-text">
            {{presentationText}}
        </p>
    </div>

    <div class="img-cont" flex style="justify-content: space-around;">

        <div flex-col class="us-note" style="gap: 16px; align-items: center; ">
            <img class="img-around" src="../../../../assets/images/gray-min.jpg">
            <p class="font-16-600 jt-text" style="width: 280px">{{textVA}}</p>
        </div>
        
        <div flex-col class="us-note" style="gap: 16px; align-items: center;">
            <img class="img-around" src="../../../../assets/images/gray-min.jpg">
            <p class="font-16-600 jt-text" style="width: 280px">{{textVB}}</p>
        </div>
        
        <div flex-col class="us-note" style="gap: 16px; align-items: center;">
            <img class="img-around" src="../../../../assets/images/gray-min.jpg">
            <p class="font-16-600 jt-text" style="width: 280px">{{textVC}}</p>
        </div>

    </div>

</div>
