
@import '../../../../styles.scss';

.header {
    width: 100%;
    height: 580px;
    padding: 24px 8%;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.61);
}

.imagen {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.wall {    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-footer {
    width: 50%;
    gap: 12px;
    position: relative;
    
    .hf-text {
        color: white;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px; 
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.392); 
    pointer-events: none;
}

@media only screen and (max-width: 900px) {
    .header-footer {
        width: 100%;
    }
}


.btt-banner {
    width: 50%;
    background-color: white;
    border: 0px;
}