
<div flex-col class="header">

    <div class="wall" >
        <img class="imagen" src="../../../../assets/images/hand-wall.jpg">
        
        <div class="overlay">

            <div flex class="head" [ngClass]="scrolled ? 'fond-on' : 'fond-off'">
                <div flex>
                    <p class="font-28-800" style="font-size: 28px; cursor: pointer;">FUDEPRONA</p>
                </div>
                <div class="nav-bar" style="gap: 24px;">
                    <p class="font-18-600 nav-it">Nosotros</p>
                    <p class="font-18-600 nav-it">Institucion</p>
                    <p class="font-18-600 nav-it">Sucursales</p>
                    <p class="font-18-600 nav-it">Actividades</p>
                </div>
                <div flex style="align-items: center; gap: 12px;">
                    <button class="btt-int ing">Ingresar</button>
                    <p class="icon-ff tab-menu" style="font-size: 32px; cursor: pointer;">menu</p>
                </div>
            </div>

            <div class="title" flex-col style="bottom: 20%; position: absolute; width: 60%; padding: 24px 100px; row-gap: 18px;">
                <p class="font-24-800" style="color: white; font-size: 44px; line-height: 56px;"
                >Fundacion para la Proteccion y Defensa de los Niños, Niñas y Adolescentes</p>
            </div>
            
            <div class="title-mobile" flex-col>
                <p class="font-24-800" style="color: white; font-size: 28px; line-height: 42px;"
                >Fundacion para la Proteccion y Defensa de los Niños, Niñas y Adolescentes</p>
            </div>
            

        </div>

    </div>


    
</div>

