
@import '../../../../styles.scss';

.header {
    width: 100%;
    height: 100vh;
    padding: 24px 8%;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.61);
}

.imagen {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.wall {    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.462); 
}

.head {
    color: white; 
    justify-content: space-between; 
    padding: 20px 38px;    
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 400;
}

.btt-int {
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color ;
}

.btt-int:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

.btt-int-b {
    width: 80%; 
    font-size: 16px; 
    font-weight: 400;
    font-weight: 600;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color ;
}

.btt-int-b:hover {
    background-color: rgb(212, 212, 212);
}

.nav-it {
    cursor: pointer;
    transition: 0.4s background-color, 0.4s color;
    padding: 8px 16px;
    border-radius: 8px;
}

.nav-it:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.fond-off {
    background-color: transparent;
    transition: background-color 0.4s ease;
}

.fond-on {
    background-color: rgba(14, 30, 209, 0.59);
    transition: background-color 0.4s ease;
    box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.61);
}


.title-mobile {
    display: none;
    bottom: 0%; position: absolute; width: 80%; padding: 60px 40px; row-gap: 18px;
}

.title-mobile > p {
    font-size: 18px;
}

.nav-bar {
    display: flex;
}


.tab-menu {
    transition: 0.5s scale, 0.5s color;
}

.tab-menu:hover {
    scale: 1.04;
    color: rgb(169, 169, 169);
}

@media only screen and (max-width: 1000px) {
    
    .tab-menu {
        display: flex;
    }
    .title {
        display: none;
    }
    .title-mobile {
        display: flex;
    }
    .nav-bar {
        display: none;
    }
    .btt-int {
        padding: 8px;
    }
    .head {
        padding: 12px;
    }

}


@media only screen and (max-width: 400px) {
    .ing {
        display: none;
    }
}