@import '../../../../../styles.scss';

.add-button {
    transition: 0.4s scale, 0.7s box-shadow;
}


.show-item {
    transition: 0.4s scale, 0.7s box-shadow;   
}

.main-cont {
    padding: 4% 18%;
}

@media only screen and (max-width: 768px) {
    .main-cont {
        padding: 8% 8%;
        gap: 12px;
    }
    .show-item {
        flex-direction: column;
    }
}