table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
