
<div flex-col class="header" style="background-color: #1446A0;">
    <div flex style="gap: 8px;">
        <div flex class="nav-bar">
            
            <p class="nav-title font-28-800" (click)="goWhere('home')" >FUDEPRONA</p>
            
            <div flex class="nav-item" style="align-items: center;">
                <p class="nav-subtitle font-16-600" (click)="goWhere('home')" >Nosotros</p>
                <p class="nav-subtitle font-16-600">Actividades</p>
                <p class="nav-subtitle font-16-600" (click)="goWhere('institution')"
                >Institución</p>
                <p class="nav-subtitle font-16-600" (click)="goWhere('subsidiary')"
                >Sucursales</p>
            </div>

            <div flex>
                <button class="btt-header" (click)="goWhere('auth/login')" >Ingresar</button>
            </div>

        </div>
    </div>
</div>
