
<div flex-col style="height: 100%; background-color: rgb(65, 65, 65);">

    <div flex style="width: 100%; height: 100%; justify-content: center; align-items: center;">
            
        <div class="face-login" style="background-color: rgb(195, 195, 195); width: 42%; height: 88%; "></div>

        <div flex-col class="main-log bg-blue-100" style="gap: 24px;">
            <div>
                <p class="font-20-800" style="color: white;">INICIO DE SESION</p>
            </div>
            <form flex-col style="gap: 24px; width: 100%;" [formGroup]="loginForm">
                <input class="inp-base" formControlName="login" 
                    style="width: 100%; height: 48px;" placeholder="LOGIN">
          
                @if (isVal('login') && gErr('login').hasValue() ) {
                    <div class="inp-prim-err"><p>{{gErr('login').getValue()}}</p></div>                   
                }      

                <input class="inp-base"  formControlName="password" 
                    style="width: 100%; height: 48px;" placeholder="CONTRASEÑA">

                @if (isVal('password') && gErr('password').hasValue() ) {
                    <div class="inp-prim-err"><p>{{gErr('password').getValue()}}</p></div>                   
                }      
    
            </form>
            
            <div flex style="padding: 8px; gap: 12px; justify-content: end;">
                <button class="btt-prim" 
                    style="width: auto; height: auto; align-self: end;"
                (click)="goWhere('home')">VOLVER</button>
            
                <button class="btt-prim" (click)="goWhere('auth/tab')"
                    style="width: auto; height: auto; align-self: end;"
                >INGRESAR</button>
        
            </div>
        </div>
    </div>

</div>



