
<div flex-col style="height: 100%; width: 100%;">
    <div flex style="
        bottom: 0;
        align-self: center;
        position: fixed; 
        width: 90%;
        padding: 8px;
        height: 70px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 12px;
        justify-content: center;
        max-width: 600px;
        gap: 24px;
        border-radius: 12px;
        
box-shadow: 2px 2px 4px rgba(63, 63, 63, 0.61);
    ">
        <div 
            class="button-tab"
            (click)="goWhere('home')"
            flex-col style="justify-content: center; align-items: center;">    
            <p class="icon-ff" style="font-size: 32px;">logout</p>
            <p style="font-size: 10px; font-weight: 800;">SALIR</p>
        </div>
        

        <div 
            class="button-tab"
            (click)="goWhere('auth/tab/institution')"
            flex-col style="justify-content: center; align-items: center;">    
            <p class="icon-ff" style="font-size: 32px;">diversity_3</p>
            <p style="font-size: 10px; font-weight: 800;">INSTITUCION</p>
        </div>
        <div 
            class="button-tab"
            (click)="goWhere('auth/tab/alliance')"
            flex-col style="justify-content: center; align-items: center;">    
            <p class="icon-ff" style="font-size: 32px;">handshake</p>
            <p style="font-size: 10px; font-weight: 800;">ALIADO</p>
        </div>
        <div 
            class="button-tab"
            (click)="goWhere('auth/tab/sucursal')"
            flex-col style="justify-content: center; align-items: center;">    
            <p class="icon-ff" style="font-size: 32px;">diversity_3</p>
            <p style="font-size: 10px; font-weight: 800;">SUCURSAL</p>
        </div>

    </div>

    <router-outlet></router-outlet>

</div>
