
<div flex-col style="height: 100%; width: 100%;">
    <div 
        flex style="width: 100%; justify-content: space-around; padding-top: 12px; padding-bottom: 12px;" class="bg-blue-100">
        <div style="width: 200px; height: 100%;">
            <button
                (click)="goWhere('home')"
                class="bg-blue-100 btt-tab" style="color: white; height: 48px;">SALIR</button>
        </div>
        <div flex style="width: auto; gap: 12px;">
            <button
                (click)="goWhere('auth/tab/institution')"
                class="bg-blue-100 btt-tab" style="color: white; height: 48px;">INSTITUCIONES</button>
            <button
                (click)="goWhere('auth/tab/alliance')"
                class="bg-blue-100 btt-tab" style="color: white; height: 48px;">ALIANZAS</button>
            <button class="bg-blue-100 btt-tab" style="color: white; height: 48px;">ACTIVIDADES</button>
            <button class="bg-blue-100 btt-tab" style="color: white; height: 48px;">MEDICINAS</button>
            <button
                (click)="goWhere('auth/tab/subsidiary')"
                class="bg-blue-100 btt-tab" style="color: white; height: 48px;">SUCURSALES</button>        
        </div>
    </div>

    <router-outlet></router-outlet>

</div>
