
.nav-desktop {
        bottom: 0;
        left: 0;
        align-self: center;
        position: fixed; 
        width: auto;
        padding: 8px;
        height: 100%;
        background-color: #11207a;
        color: white;
        justify-content: center;
        max-width: 600px;
        gap: 24px;    
        box-shadow: 2px 2px 4px rgba(63, 63, 63, 0.61);
}

.main-cont {
    display: flex;
}

@media only screen and (max-width: 768px) {

    .tab-face {
        display: none;
    }

    .tab-buttons {
        width: 100%;
    }
    
    .btt-tab {
        width: 100%;
    }
    
    .main-cont {
        flex-direction: column;
    }
}

.button-tab {
    border-radius: 6px;
    padding: 4px;
    height: 50px;
    width: 80px;
    row-gap: 2px;
    cursor: pointer;
    transition: 0.4s color, 0.4s background-color;
}

.button-tab:hover {
    background-color: rgb(143, 183, 243);
}


.nav-mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav-mobile {
        display: flex;
    }
    .nav-desktop {
        display: none;
    }
}
