
<div flex-col style="width: 100%; height: 100%;">
    <header-simple></header-simple>

    <div flex-col class="cont-intro bg-blue-100" style="width: 100%; padding: 24px 12%;">
        <p class="font-20-800" style="color: white;">INSTITUCIONES ALIADAS</p>
        <p class="font-16-200 jt-text" style="color: white;">{{textRandom}}</p>
    </div>

    <div flex-col style="padding: 42px 12%; width: 100%; height: auto; align-items: center; gap: 24px;">

        @for ( i of insti; track $index; let even = $even ) {

            @if ( !even ) {
                <div flex class=" show-item bg-blue-100" style="
                    width: 100%; height: auto; justify-content: center; align-items: center; ">

                    <div flex style="
                        padding: 4px; justify-content: center; align-items: center; height: 100%; width: 40%;">
                        <img style="height: 140px; width: auto;" src="{{i.image}}">
                    </div>

                    <div flex-col class="cont-text" style="color: white; ">
                        <p class="font-18-800">{{i.name}}</p>
                        <p class="font-16-200">{{i.phone}} - {{i.email}}</p>
                        <p class="font-16-200"></p>
                        <p class="font-16-400 jt-text">{{i.description}}</p>
                    </div>
                </div>
            } @else {
                <div flex class="show-item" style="width: 100%; height: auto;justify-content: center; align-items: center;">
                    <div flex style="
                        padding: 4px; justify-content: center; align-items: center; height: 100%; width: 40%;">
                        <img style="height: 140px; width: auto;" src="{{i.image}}">
                    </div>

                    <div flex-col class="cont-text" >
                        <p class="font-18-800">{{i.name}}</p>
                        <p class="font-16-200">{{i.phone}} - {{i.email}}</p>
                        <p class="font-16-200"></p>
                        <p class="font-16-400 jt-text">{{i.description}}</p>
                    </div>
                    
                </div>

            }

        }

    </div>

</div>
