
@import 'styles/font.scss';
@import 'styles/struct.scss';
@import 'styles/color.scss';
@import 'styles/input.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

html, body { height: 100%; }

.cdk-overlay-pane {
  border-radius: 12px !important; /* Asegura el redondeo */
  overflow: hidden; /* Maneja el contenido */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.inp-prim-err {
  padding: 8px 20px;
  color: rgb(221, 255, 0);
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.423);
}

.inp-sec-err {
  padding: 8px 20px;
  color: rgb(255, 0, 0);
  font-weight: 600;
  background-color: rgba(255, 112, 112, 0.558);
}