
<div class="carousel" style="height: 100%; ">
  <div class="slides" [style.transform]="'translateX(-' + ind() * 100 + '%)'">
    <div class="slide" *ngFor="let img of data" >
      <img [src]="img.image" class="img-cont" />
      <div style="padding: 12px 24px; background-color: rgba(48, 59, 180, 0.59); color: white; height: 100%;">
        <p class="font-16-600">{{img.fecha}}</p>
        <p class="font-20-800">{{img.titulo}}</p>
      </div>
    </div>
  </div>
  <button class="nav prev" (click)="prev()">‹</button>
  <button class="nav next" (click)="next()">›</button>
</div>
