
<div flex-col class="main-cont" style="padding: 72px 8%; gap: 24px; align-items: center;">

    <div flex class="headed" style="width: 100%; justify-content: space-between;">
        <p class="title">Actividades Recientes</p>
        <div flex class="goToMore">
            <p style="text-align: center;">Ver Actividades</p>
        </div>
    </div>
    
    <div class="activities-main">
           
        <div class="acti-cont" flex style="flex-wrap: wrap; justify-content: center;">
        @for (i of activities; track $index) {        
            <div flex-col class="act-cont" style="
                justify-content: space-between;
                align-items: center;
                border-radius: 3px; 
                cursor: pointer;
                ">

                <div>
                    <img class="img-act" style="
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        width: 300px; height: 280px; object-fit: cover;" src="{{i.image}}">
                </div>

                <div flex-col class="txt-limit" style="
                    max-width: 300px;
                    padding: 18px 28px; justify-content: space-between; height: 100%; row-gap: 8px;">
                
                    <p class="font-14-600" 
                        style=" text-align: end; background-color: rgb(83, 91, 176); color: white; padding: 1px 6px; border-radius: 3px;"
                    >{{i.fecha}}</p>
                
                    <p class="font-14-800 jt-text" style="font-size: 18px;">{{i.titulo}}</p>
                    <p class="jt-text" style="font-size: 14px; font-weight: 600; color: rgb(84, 84, 84);">{{i.descripcion}}</p>
                </div>
            </div>            
        }
        </div>

    </div>
    
</div>