

<div flex-col class="section-us" >

    <div flex-col class="img-cont" flex style="align-items: center; justify-content: center;">
        
        <div style="width: 94%; border-top: 1px solid black;"></div>

        <div flex class="us-note" style="border-bottom-right-radius: 80px;">
            <img class="img-around" src="../../../../assets/images/diversidad.png">
            <div flex-col style="row-gap: 12px;">
                <p class="font-24-800" style="border-bottom: 1px solid black; padding-bottom: 12px; font-size: 28px;">Derecho a una vida digna</p>
                <p class="text" style="width: 300px">{{textVA}}</p>
            </div>
        </div>
        
        <div style="width: 94%; border-top: 1px solid black;"></div>

        <div flex class="us-note" style="border-top-right-radius: 80px; border-bottom-left-radius: 80px;">
            <img class="img-around" src="../../../../assets/images/amor.png">
            <div flex-col style="row-gap: 12px;">
                <p class="font-24-800" style="border-bottom: 1px solid black; padding-bottom: 12px; font-size: 28px;">Humildad y Amor</p>
                <p class="text" style="width: 300px">{{textVB}}</p>
            </div>
        </div>
        
        <div style="width: 94%; border-top: 1px solid black;"></div>
        
        <div flex class="us-note" style="border-top-left-radius: 80px;">
            <img class="img-around" src="../../../../assets/images/planta.png">
            <div flex-col style="row-gap: 12px;">
                <p class="font-24-800" style="border-bottom: 1px solid black; padding-bottom: 12px; font-size: 28px;">Impactos Positivos</p>
                <p class="text" style="width: 300px">{{textVC}}</p>
            </div>
        </div>

        <div style="width: 94%; border-top: 1px solid black;"></div>
      
    </div>

</div>