
@import '../../../../styles.scss';

.section-us {
    padding: 60px 8% 60px 8%;
    gap: 24px;
    height: auto;
    width: 100%;
    background-color: rgb(83, 91, 176);
}

.text {
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .img-about {
        display: none;
    }
    .text {
        font-size: 16px;
    }
    .img-cont {
        flex-direction: column;
        gap: 24px;
        div {
            width: 100%;
        }
    }
    
}

.us-note {
    transition: 0.4s scale;
    padding: 24px 12px; 
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    max-height: 300px;
    min-height: 300px;
    justify-content: center;
    background-color: white;
    color: black;
    max-width: 320px;
    min-width: 320px;
}

.img-around {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 100%; 
    object-fit: cover;
    width: 160px;
    height: 160px;
}
