
@import '../../../../styles.scss';

.section-us {
    width: 100%;
    padding: 60px 0;
}

.text {
    font-size: 16px;
    font-weight: 200;
}

.us-note {
    min-height: 300px; 
    transition: 0.4s scale;
    padding: 24px 12px;
    justify-content: center;
    color: black;
    min-width: 420px;
    gap: 18px; 
    align-items: center;
    width: 100%;
}

.img-around {
    border-radius: 100%; 
    object-fit: cover;
    width: 200px;
    height: 200px;
}


@media only screen and (max-width: 1000px) {
    .img-cont {
        flex-wrap: wrap;
    }       
}
