

<div flex-col class="section-us" style="gap: 20px; align-items: center;">

    <div class="img-cont" flex style="align-items: center; justify-content: center; gap: 28px;">

        <div flex-col class="us-note" style="gap: 18px; align-items: center; ">
            <img class="img-around" src="../../../../assets/images/diversidad.png">
            <p class="text jt-text" style="width: 240px">{{textVA}}</p>
        </div>
        
        <div flex-col class="us-note" style="gap: 18px; align-items: center;">
            <img class="img-around" src="../../../../assets/images/amor.png">
            <p class="text jt-text" style="width: 240px">{{textVB}}</p>
        </div>
        
        <div flex-col class="us-note" style="gap: 18px; align-items: center;">
            <img class="img-around" src="../../../../assets/images/planta.png">
            <p class="text jt-text" style="width: 280px">{{textVC}}</p>
        </div>
      
    </div>
</div>