

<div flex-col class="section-us" style="gap: 20px; align-items: center;">

    <div class="img-cont" flex style="align-items: center; justify-content: center; gap: 32px;">

        <div flex-col class="us-note" >
            <img class="img-around" src="../../../../assets/images/diversidad.png">
            <p class="text " style="width: 300px">{{textVA}}</p>
        </div>
        
        <div flex-col class="us-note" >
            <img class="img-around" src="../../../../assets/images/amor.png">
            <p class="text " style="width: 300px">{{textVB}}</p>
        </div>
        
        <div flex-col class="us-note" >
            <img class="img-around" src="../../../../assets/images/planta.png">
            <p class="text " style="width: 300px">{{textVC}}</p>
        </div>
      
    </div>
</div>